<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
<div id="app">
    <nav>
            <div id="mid-block">
                <div href="#" class="nav-item logo">Logo</div>
                <div class="desc-nav">
                <a href="#home" class="nav-item">Home</a>
                <a href="#about-us" class="nav-item">About</a>
                <a href="#our-services" class="nav-item">Servives</a>
                <a href="#blog" class="nav-item">Blog</a>
                <a href="#contact-us" class="nav-item">Contact us</a>
                </div>
                <div class="mobile-nav">
                    <img src="menu.png" alt="menu">
                </div>
                
            </div>
        </nav>
<header id="home">
        <div id="header-body">
            <div id="title-block">
        <div id="title">Web development project</div>
        <div id="subtitle">Very suitable to support all web development projects</div>
        <div id="header-buttons">
            <div id="header-btn">OUR SERVIVES</div>
            <a href="/login.html" id="header-btn">HIRE IT NOW</a>
        </div>
            </div>
        </div>
    </header>
    <section id="about-us">
        <div class="caption">
            About Us
        </div>
        <div class="subcaption-text">
            <div class="subcaption-block">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </div>
        </div>
        <div id="about-items">
            <div class="about-item">
                <div class="about-item-img">
                    <img src="images/awesome-icons.png">
                </div>
                <div class="about-item-caption">
                    Awesome Icons
                </div>
                <div class="about-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione at voluptatem asperiores, maiores nam unde perspiciatis facere. Aspernatur, commodi aliquam. Quaerat reiciendis reprehenderit animi, incidunt amet alias molestiae fugit?</div>
            </div>
            <div class="about-item">
                <div class="about-item-img">
                    <img src="images/transfer.png">
                </div>
                <div class="about-item-caption">
                    Own Page
                </div>
                <div class="about-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione at voluptatem asperiores, maiores nam unde perspiciatis facere. Aspernatur, commodi aliquam. Quaerat reiciendis reprehenderit animi, incidunt amet alias molestiae fugit?</div>
            </div><div class="about-item">
                <div class="about-item-img">
                    <img src="images/awesome-icons.png">
                </div>
                <div class="about-item-caption">
                    Fully Responsive
                </div>
                <div class="about-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione at voluptatem asperiores, maiores nam unde perspiciatis facere. Aspernatur, commodi aliquam. Quaerat reiciendis reprehenderit animi, incidunt amet alias molestiae fugit?</div>
            </div>
        </div>
    </section>
    <section id="our-services">
        <div class="caption">
            Our Services
        </div>
        <div class="subcaption-text">
            <div class="subcaption-block">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus labore facere tempora perspiciatis ea, et temporibus obcaecati minima nam maiores eos quod, autem aspernatur minus voluptas consequatur architecto officiis! Maxime?
            </div>
        </div>
        <div id="services-items">
            <div class="row">
            <div class="service-item">
                <div class="service-logo">
                    <img src="images/smartphoneCopy.png" alt="">
                </div>
                <div class="service-item-block">
                    <div class="service-item-caption">
                        Research
                    </div>
                    <div class="service-item-desc">
                        <div class="service-item-text-block">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos
                        </div>
                    </div>
                </div>
                <div class="read-more-block">
                    <div class="read-more">
                        READ MORE
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-logo">
                    <img src="images/smartphoneCopy.png" alt="">
                </div>
                <div class="service-item-block">
                    <div class="service-item-caption">
                        Portfolio
                    </div>
                    <div class="service-item-desc">
                        <div class="service-item-text-block">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos
                        </div>
                    </div>
                </div>
                <div class="read-more-block">
                    <div class="read-more">
                        READ MORE
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-logo">
                    <img src="images/smartphoneCopy.png" alt="">
                </div>
                <div class="service-item-block">
                    <div class="service-item-caption">
                        Support
                    </div>
                    <div class="service-item-desc">
                        <div class="service-item-text-block">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos
                        </div>
                    </div>
                </div>
                <div class="read-more-block">
                    <div class="read-more">
                        READ MORE
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="service-item">
                    <div class="service-logo">
                        <img src="images/smartphoneCopy.png" alt="">
                    </div>
                    <div class="service-item-block">
                        <div class="service-item-caption">
                            Documentation
                        </div>
                        <div class="service-item-desc">
                            <div class="service-item-text-block">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos
                            </div>
                        </div>
                    </div>
                    <div class="read-more-block">
                        <div class="read-more">
                            READ MORE
                        </div>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-logo">
                        <img src="images/smartphoneCopy.png" alt="">
                    </div>
                    <div class="service-item-block">
                        <div class="service-item-caption">
                            Development
                        </div>
                        <div class="service-item-desc">
                            <div class="service-item-text-block">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos
                            </div>
                        </div>
                    </div>
                    <div class="read-more-block">
                        <div class="read-more">
                            READ MORE
                        </div>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-logo">
                        <img src="images/smartphoneCopy.png" alt="">
                    </div>
                    <div class="service-item-block">
                        <div class="service-item-caption">
                            Design
                        </div>
                        <div class="service-item-desc">
                            <div class="service-item-text-block">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos
                            </div>
                        </div>
                    </div>
                    <div class="read-more-block">
                        <div class="read-more">
                            READ MORE
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <section id="latest-works">
        <div class="caption">Latest Works</div>
        <div class="subcaption-text">
            <div class="subcaption-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur repellendus, repellat optio neque assumenda itaque, ad eius suscipit veritatis exercitationem quia hic. Mollitia id optio quasi similique incidunt sunt blanditiis?</div>
        </div>
        <div id="works-filters">
            <div class="filter">ALL</div>
            <div class="filter">WEB DESIGN</div>
            <div class="filter">UI/UX DESIGN</div>
            <div class="filter">MOCKUPS</div>
        </div>
        <div id="works">
            <div class="row">
                <div class="work"><img src="images/Rectangle1.png"></div>
                <div class="work"><img src="images/Rectangle2.png"></div>
                <div class="work"><img src="images/Rectangle3.png"></div>
            </div>
            <div class="row">
                <div class="work"><img src="images/Rectangle2.png"></div>
                <div class="work"><img src="images/Rectangle4.png"></div>
                <div class="work"><img src="images/Rectangle5.png"></div>
            </div>
        </div>
        <div id="btn-wrapper">
            <button id="view-all">
                VIEW ALL
            </button>
        </div>
    </section>
    <section id="blog">
        <div class="caption">Blog</div>
        <div class="subcaption-text">
            <div class="subcaption-block">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus labore facere tempora perspiciatis ea, et temporibus obcaecati minima nam maiores eos quod, autem aspernatur minus voluptas consequatur architecto officiis! Maxime?
            </div>
        </div>
        <div id="posts" v-if="postsSeen">
            <div class="post" v-for="post in posts.slice(0,3)">
                <div class="post-img">
                    <img :src="'uploads/'+ post.avatarSrc">
                </div>
                <div class="post-info">
                    <div class="post-info-wrapper">
                    <a class="post-title" v-bind:href="'/post:'+post.id">
                        {{ post.title }}
                    </a>
                    <div class="sm-info-block">
                    <div class="sm-info">
                        <div class="sm-ico-block">
                            <img src="images/sm-ico.png" alt="" class="sm-ico">
                        </div>
                        <div class="sm-text">
                            {{ post.dispathTime.split('T')[0] }}
                        </div>
                    </div>
                    <div class="sm-info">
                        <div class="sm-ico-block">
                            <img src="images/sm-ico01.png" alt="" class="sm-ico">
                        </div>
                        <div class="sm-text">
                            {{ post.status }}
                        </div>
                    </div>
                    <div class="sm-info">
                        <a class="sm-ico-block"
                        v-bind:href="'/editPost:'+post.id"
                        v-if="permission == 'admin' || post.authorID == id"
                        >
                    <img src="images/edit.png" width="16" height="16" class="sm-ico">
                        </a>
                    </div>
                    </div>
                    <div class="post-text">
    {{ post.body.trim().length > 200 ? post.body.trim().slice(0,197)+'...' : post.body.trim() }}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <p v-else id="no-posts">
            Пока что постов нет
        </p>
        <div id="view-more-btn"></div>
    </section>
    <section id="contact-us">
        <div class="light">
            <div class="caption light">
            Contact Us
        </div>
        <div class="subcaption-text">
            <div class="subcaption-block">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, eum optio? Nam pariatur doloremque harum.
            </div>
        </div>
        <div class="contacts">
            <div class="contact">
                <div class="contact-ico-block">
                    <div class="contact-ico">
                        <img src="images/adress.png" alt="">
                    </div>
                </div>
                <div class="contact-info">
                    {{ info.adress }}
                </div>
            </div>
            <div class="contact">
                <div class="contact-ico-block">
                    <div class="contact-ico">
                        <img src="images/phone-call.png" alt="">
                    </div>
                </div>
                <div class="contact-info">
                    {{ info.telephone }}
                </div>
            </div>
            <div class="contact">
                <div class="contact-ico-block">
                    <div class="contact-ico">
                        <img src="images/email.png" alt="">
                    </div>
                </div>
                <div class="contact-info">
                    {{ info.email }}
                </div>
            </div>
        </div>
        <form id="send-message" method="POST" action="/message">
            <div id="your-contacts">
                <input type="text" autocomplete="off" id="name" name="name" placeholder="NAME" type="text">
                <input type="text" autocomplete="off" id="email" name="email" placeholder="E-MAIL" type="email">
            </div>
            <textarea placeholder="MESSAGE" autocomplete="off" name="message" id="message" type='text'></textarea>
            <div id="send-btn-block">
                <input type="submit" value="SEND" id="submit-message">
            </div>
        </form>
        </div>
    </section>
    <section id="copyright">
        All rights Reserved © 2020
    </section>
    
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="../script.js"></script>
<script>
    let els = document.querySelectorAll('a.nav-item')
    function checkActive(){
        let y = window.pageYOffset
        let current = 0
        coords.forEach((item,i)=>{
            if(y+10 > coords[i]){
                current = i
            }
        })
        els.forEach(item => item.className = 'nav-item')
        els[current].className += ' active'
    }
    let coords = Array.from(els).map(el => {
    let id = el.href.split('#')[1]
    let section = document.getElementById(id)
    let top = section.getBoundingClientRect().top + pageYOffset


    el.addEventListener('click',(e)=>{
    e.preventDefault()
    window.scrollTo({
        top : top-80,
        behavior : 'smooth'
    })
    })
    return top-80
    })
    checkActive()
    //console.log(els)
    document.addEventListener('scroll',(e)=>{
        checkActive()
    })
    
</script>
</body>
</html>